<div class="container" ng-init="init()">
		<div class="login-page">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a title="Go to Home Page" href="#/">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="#/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div data-wow-delay="0.4s" class="col-md-6 login-left wow fadeInLeft">
			  	 <h2>NEW CUSTOMERS</h2>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a href="#/registore" class="acount-btn">Create an Account</a>
			   </div>
			   <div data-wow-delay="0.4s" class="col-md-6 login-right wow fadeInRight">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
                                <form  ng-submit="login()" name="loginForm">
				  <div>
					<span>Email Address<label>*</label></span>
					<input type="text"  name="user_email" ng-model="user.user_email"> 
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input type="password" name="user_password" ng-model="user.user_password"> 
				  </div>
				  <a href="#" class="forgot">Forgot Your Password?</a>
				  <input type="submit" value="Login"   ng-disabled="!loginForm.$dirty">
			    </form>
			   </div>	
			   <div class="clearfix"> </div>
			 </div>
		   </div>
</div>