<div class="container">
    <div class="typrography">
        <div class="grid_3 grid_5">
            <h3>Tabs</h3>
            
            <div data-example-id="togglable-tabs" role="tabpanel" class="bs-example bs-example-tabs">
                <ul role="tablist" class="nav nav-tabs" id="myTab">
                  <li class="" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="/#/myAccount#home">Home</a></li>
                  <li class="" role="presentation"><a aria-expanded="false" aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="/#/myAccount#profile">Profile</a></li>
                  <li class="dropdown active" role="presentation">
                    <a aria-expanded="false" aria-controls="myTabDrop1-contents" data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="/#/myAccount#">Dropdown <span class="caret"></span></a>
                    <ul id="myTabDrop1-contents" aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                      <li class=""><a aria-controls="dropdown1" data-toggle="tab" id="dropdown1-tab" role="tab" tabindex="-1" href="/#/myAccount#dropdown1">@fat</a></li>
                      <li class="active"><a aria-controls="dropdown2" data-toggle="tab" id="dropdown2-tab" role="tab" tabindex="-1" href="/#/myAccount#dropdown2">@mdo</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div aria-labelledby="home-tab" id="home" class="tab-pane fade" role="tabpanel">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                  <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                  </div>
                  <div aria-labelledby="dropdown1-tab" id="dropdown1" class="tab-pane fade" role="tabpanel">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                  </div>
                  <div aria-labelledby="dropdown2-tab" id="dropdown2" class="tab-pane fade active in" role="tabpanel">
                    <div class="cart-gd" ng-init="getMyOrder()">
                      <div class="cart-header" ng-repeat="item in order"> 
                        <div ng-repeat="product in item.items">                         
                              <!-- {{product.price}} -->
                          <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                              <img alt="" class="img-responsive"  ng-src="{{product.data.image.path}}" >
                            </div>
                            <div class="cart-item-info">
                              <h3><a href="#"> {{product.data.title}} </a></h3>
                              <ul class="qty">
                                <li><p>{{product.data.shortDescription}}</p></li>
                                <li><p>FREE delivery</p></li>
                              </ul>
                              <div class="delivery">
                                <p>Product Price: Rs {{product.price}}<br> 
                                  Service Charges : {{item.taxRate}}%</p>
                                <span>Delivered in 1-1:30 hours</span>
                                <div class="clearfix"></div>
                              </div>	
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <hr/>
                        <p style="margin-left: 24%;"> Sub-Total : Rs {{item.subTotal}}</p>
                        <p style="margin-left: 24%;"> Total Cost : Rs {{item.totalCost}}</p>
                        <hr/>
                      </div> 
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>